<footer class="min-h-96 bg-slate-700">
    <div class="max-w-6xl mx-auto px-4 md:px-0 py-10">
        <!-- News Letter Section -->
        <section class="bg-white border-2 border-black min-h-20 py-10 px-3 md:px-16 flex justify-between items-center gap-5 flex-col md:flex-row">
            <span class="block">
                <i class="far fa-paper-plane fa-2x"></i>
            </span>

            <aside class="flex-grow">
                <h1 class="text-2xl md:text-3xl font-bold my-3">
                    Sign up for our newsletters
                </h1>
                <p class="text-slate-700">
                    The best of Business news, in your inbox. 
                </p>
            </aside>

            <aside>
                <input type="text" placeholder="Email Address" class="border h-12 px-4 focus:outline-none">
                <button class="border border-black py-2 px-6 hover:bg-black hover:text-white block md:inline-block w-full md:w-auto mt-5">
                    Subcsribe
                </button>
            </aside>
        </section>


        <!-- Bottom Navigator -->
        <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-16 px-4 md:px-0 text-white">
            <aside class="min-h-16">
                <h1 class="text-2xl font-bold mb-5">
                    About
                </h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi, quisquam magnam cumque repellendus fugit magni vel delectus? Atque, consectetur odio!
                </p>
            </aside>
            
            <aside class="min-h-16">
                <h1 class="text-2xl font-bold mb-5">
                    Company
                </h1>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Our Staff</a></li>
                    <li><a href="#">Advertise</a></li>
                </ul>
            </aside>
            
            <aside class="min-h-16">
                <h1 class="text-2xl font-bold mb-5">
                    Company
                </h1>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Our Staff</a></li>
                    <li><a href="#">Advertise</a></li>
                </ul>
            </aside>
            
            <aside class="min-h-16">
                <h1 class="text-2xl font-bold mb-5">
                    Company
                </h1>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Our Staff</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Author</a></li>
                    <li><a href="all_post.php">All Posts</a></li>
                </ul>

                <div class="flex gap-3 items-center mt-5">
                    <a href="">
                        <i class="fab fa-facebook text-xl"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-twitter text-xl"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-instagram text-xl"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-linkedin text-xl"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-whatsapp text-xl"></i>
                    </a>
                </div>
            </aside>
        </section>
    </div>
</footer>

<!-- Overlay -->
<div id="auth_overlay" class="fixed top-0 left-0 h-screen w-full bg-black bg-opacity-50 z-10 hidden" onclick="toggleAuthOverlay('close')"></div>
<!-- Auth Modal -->
 <div id="auth_modal" class="fixed top-0 left-0 h-screen w-full z-20 hidden items-center justify-center p-4">
    <section class="min-h-10 bg-[url('../assets/dummy/blog_bn_main.jpg')]  object-cover w-full max-w-sm py-3 px-4 rounded-md">
        <div id="modal_content">

        </div>
    </section>
 </div>

<script>
    // sessionStorage.setItem('isLogin', null);
    // sessionStorage.removeItem('isLogin');
    // Using an object in the storage
    let user = {
        name : "James Agban",
        phone : '09034545523',
        email : 'jamesa@gmail.com'
    }

    // let userString = JSON.stringify(user);
    // let revertedUserObj = JSON.parse(userString);
    // sessionStorage.setItem('user', JSON.stringify(user))
    // let userString = sessionStorage.getItem('user');
    // let revertedUserObj = JSON.parse(userString);
    // console.log(userString, revertedUserObj);


    // Check Login State
    let isLogin = () => {
        let loginState = false;
        if (sessionStorage.isLogin !== undefined && sessionStorage.isLogin !== null && sessionStorage.isLogin !== 'null' && sessionStorage.isLogin !== '') {
            loginState = true;
        }
        return loginState;
    }
    

    // Reactions
    let likePost = (e) => {
        if (isLogin()) {
            let element = null;
            let clickedElement = e.target;
            if(clickedElement.tagName.toLowerCase() == 'button'){
                element = clickedElement.children[0];
            }else{
                element = clickedElement;
            }

            if (element.classList.contains('fas')) {
                element.classList.remove('fas');
                element.classList.add('far');
                element.classList.remove('text-red-500');
            } else {
                element.classList.remove('far');
                element.classList.add('fas');
                element.classList.add('text-red-500');
            }
        }else{
            toggleAuthOverlay('open')
        }
    }

    let toggleAuthOverlay = (state) => {
        let overlay = document.getElementById('auth_overlay');
        let auth_modal = document.getElementById('auth_modal');
        if (state == 'close') {
            overlay.classList.add('hidden');
            auth_modal.classList.add('hidden');
            auth_modal.classList.remove('flex')
        }else{
            overlay.classList.remove('hidden');
            auth_modal.classList.remove('hidden');
            auth_modal.classList.add('flex')
            loadPage('signup');
        }
    }

    let loadPage = (page) => {
        let modalContent = document.getElementById('modal_content');
        axios.get(`./components/${page}.html`)
        .then((res) => {
            modalContent.innerHTML = res.data;
        })
        .catch((error) => {
            modalContent.innerText = error.response.status + '!  Page Not Found';
            console.log(error.response.status, error.response.statusText);
        })
    }

    let loadAvatars = () => {
        axios.get(`${baseUrl}/v1/avatar/fetch.php`)
        .then((res) => {
            let avatars = res.data.avatars;
            let images = '';
            avatars.forEach((avatar) => {
                images += `<aside class="h-10 w-10 m-3 rounded-md object-cover avatars">
                                <img src="${avatar}" alt="" class="w-full min-h-full" onclick="setAvatar(event)">
                            </aside>`;
            });
            document.querySelector('#avatar-container section').innerHTML = images;
        })
    }

    let showAvatars = () => {
        let container = document.getElementById('avatar-container');
        loadAvatars();
        container.classList.remove('hidden');
    }
    
    let dismissAvatars = () => {
        let container = document.getElementById('avatar-container');
        container.classList.add('hidden');
    }

    let setAvatar = (ev) => {
        let imgSrc = ev.target.getAttribute('src');
        document.getElementById('avatar').value = imgSrc;
        dismissAvatars()
    }

    let processSignUp = (ev) => {
        ev.preventDefault();
        let formdata = new FormData(ev.target);
        axios.post(`${baseUrl}/v1/auth/register.php`, formdata)
        .then((res) => {
            if (res.data.success) {
                sessionStorage.setItem('user', JSON.stringify(res.data.user))
                sessionStorage.setItem('access_token', res.data.api_token)
                sessionStorage.setItem('isLogin', 'true')
                location.reload();
            }else{
                console.log(res.data.message);
            }
        })
        .catch((error) => {
            console.log(error.response.data.message);
        })
    }
</script>