<footer class="min-h-96 bg-slate-700">
    <div class="max-w-6xl mx-auto px-4 md:px-0 py-10">
        <!-- News Letter Section -->
        <section class="bg-white border-2 border-black min-h-20 py-10 px-3 md:px-16 flex justify-between items-center gap-5 flex-col md:flex-row">
            <span class="block">
                <i class="far fa-paper-plane fa-2x"></i>
            </span>

            <aside class="flex-grow">
                <h1 class="text-2xl md:text-3xl font-bold my-3">
                    Sign up for our newsletters
                </h1>
                <p class="text-slate-700">
                    The best of Business news, in your inbox. 
                </p>
            </aside>

            <aside>
                <input type="text" placeholder="Email Address" class="border h-12 px-4 focus:outline-none">
                <button class="border border-black py-2 px-6 hover:bg-black hover:text-white block md:inline-block w-full md:w-auto mt-5">
                    Subcsribe
                </button>
            </aside>
        </section>


        <!-- Bottom Navigator -->
        <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-16 px-4 md:px-0 text-white">
            <aside class="min-h-16">
                <h1 class="text-2xl font-bold mb-5">
                    About
                </h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi, quisquam magnam cumque repellendus fugit magni vel delectus? Atque, consectetur odio!
                </p>
            </aside>
            
            <aside class="min-h-16">
                <h1 class="text-2xl font-bold mb-5">
                    Company
                </h1>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Our Staff</a></li>
                    <li><a href="#">Advertise</a></li>
                </ul>
            </aside>
            
            <aside class="min-h-16">
                <h1 class="text-2xl font-bold mb-5">
                    Company
                </h1>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Our Staff</a></li>
                    <li><a href="#">Advertise</a></li>
                </ul>
            </aside>
            
            <aside class="min-h-16">
                <h1 class="text-2xl font-bold mb-5">
                    Company
                </h1>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Our Staff</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Author</a></li>
                    <li><a href="all_post.php">All Posts</a></li>
                </ul>

                <div class="flex gap-3 items-center mt-5">
                    <a href="">
                        <i class="fab fa-facebook text-xl"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-twitter text-xl"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-instagram text-xl"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-linkedin text-xl"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-whatsapp text-xl"></i>
                    </a>
                </div>
            </aside>
        </section>
    </div>
</footer>