<header class="min-h-16 bg-white">
    <div class="max-w-6xl mx-auto">
        <!-- Top Section -->
        <section class="flex justify-between items-center py-3 px-4 lg:px-0 gap-4">
            <!-- Search Button -->
            <button class="hidden md:block">
                <i class="fas fa-search"></i>
            </button>

            <!-- Brand Name -->
            <h1 class="uppercase font-bold text-xl md:text-3xl flex-grow md:flex-grow-0">
                Procity Blog
            </h1>

            <!-- Mobile Search Button -->
            <button class="block md:hidden">
                <i class="fas fa-search"></i>
            </button>

            <!-- Subscription Button -->
            <button id="sub_button" class="py-2 px-6 md:px-10 border border-black border-s-2 font-semibold hover:bg-black hover:text-white hidden md:block">
                Subscribe
            </button>

            <!-- User Profile -->
            <section id="profile_secton" class="flex items-center">
            </section>

            <!-- Navigation Toggle Button -->
            <button class="block md:hidden" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </button>
        </section>

        <!-- Navigation Section -->
        <section class="md:static bg-white fixed top-0 z-20 h-dvh md:h-auto w-72 md:w-auto -left-72 transition-all duration-300" id="nav_bar">
            <div class="md:hidden text-right">
                <button class="p-4 border" onclick="toggleMenu('close')">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <ul class="flex justify-center flex-col md:flex-row" id="menu">
                <li>
                    <a href="index.php" class="nav-style">Home</a>
                </li>
            </ul>
        </section>
    </div>
</header>

<div id="overlay" class="fixed top-0 left-0 h-screen w-full bg-black bg-opacity-50 z-10 hidden md:hidden" onclick="toggleMenu('close')"></div>

<script>
    var baseUrl = 'http://localhost/fake_blog_api';
    // Make an API Call to fetch all blog categories
    axios.get(`${baseUrl}/v1/category/fetch.php`)
    .then((res) => {
        let categories = res.data;
        let menuEl = document.getElementById('menu');
        let menus = `<li>
                        <a href="index.php" class="nav-style">Home</a>
                    </li>`;
        // Loop through the cateries
        categories.forEach((category) => {
            // Using the document createElement JS Class
            // let menuList = document.createElement('li');
            // let link = document.createElement('a');

            // link.classList.add('nav-style');
            // link.setAttribute('href', `categories.php?category_name=${category.category_name}`);
            // link.innerHTML = category.category_name;
            // menuList.append(link);

            // menuEl.appendChild(menuList);
            
            menus += `<li>
                            <a href="categories.php?category_name=${category.category_name}" class="nav-style">${category.category_name}</a>
                        </li>`;
            
        });

        menuEl.innerHTML = menus; 
    })

    // Togggle Mobile Nav
    document.getElementById('toggle_btn').addEventListener('click', ()=>{
        toggleMenu('open')
    })

    let toggleMenu = (state) => {
        let overlay = document.getElementById('overlay');
        let navBar = document.getElementById('nav_bar');

        if (state == 'open') {
            overlay.classList.remove('hidden');
            navBar.classList.remove('-left-72');
            navBar.classList.add('left-0');
        } else {
            overlay.classList.add('hidden');
            navBar.classList.add('-left-72');
            navBar.classList.remove('left-0');
        }
    }

    if (sessionStorage.isLogin !== undefined && sessionStorage.isLogin !== null && sessionStorage.isLogin !== 'null' && sessionStorage.isLogin !== '') {
        console.log();
        let userData = JSON.parse(sessionStorage.user)
        document.getElementById('profile_secton').innerHTML = `<aside class="h-10 w-10 m-3 rounded-full overflow-hidden object-cover avatars">
                    <img src="${user.avatar}" alt="" class="w-full min-h-full" onclick="setAvatar(event)">
                </aside>
                <span>
                    ${user.fullname}
                </span>`;
        document.getElementById('sub_button').classList.remove('hidden');
    }
</script>